version: '2.4'

services:
  # Dependancies
  minio:
    image: ${REGISTRY}minio/minio
    environment:
      MINIO_ACCESS_KEY: al_storage_key
      MINIO_SECRET_KEY: "${FILESTORE_PASSWORD}"
    command: server /data
    networks: [core]
    volumes:
    - filestore:/data
    restart: on-failure

  elasticsearch:
    image: ${REGISTRY}docker.elastic.co/elasticsearch/elasticsearch:7.15.1
    environment:
      - xpack.security.enabled=true
      - discovery.type=single-node
      - logger.level=WARN
      - "ELASTIC_PASSWORD=${ELASTIC_PASSWORD}"
      - "ES_JAVA_OPTS=-Xms${ELASTIC_MEM}m -Xmx${ELASTIC_MEM}m"
    healthcheck:
        test: ["CMD-SHELL", "curl --silent --fail -u elastic:${ELASTIC_PASSWORD} localhost:9200/_cluster/health || exit 1"]
        interval: 30s
        timeout: 30s
        retries: 3
    networks: [core]
    volumes:
      - datastore:/usr/share/elasticsearch/data
    restart: on-failure

  redis:
    image: ${REGISTRY}redis
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - redis:/data
    command: redis-server --io-threads 2
    restart: on-failure
    networks: [core]

  nginx:
    image: ${REGISTRY}cccs/nginx-ssl-frontend
    ports:
      - '443:443'
    environment:
      - DOLLAR=$$
      - UI_HOST=al_ui
      - SOCKET_HOST=al_socketio
      - FRONTEND_HOST=al_ui_frontend
      - FQDN=${DOMAIN}
      - MAX_BODY_SIZE=100M
      - TEMPLATE=minimal
    volumes:
      - ${COMPOSE_ROOT}/config/nginx.crt:/etc/ssl/nginx.crt:ro
      - ${COMPOSE_ROOT}/config/nginx.key:/etc/ssl/nginx.key:ro
    networks:
      - core
      - external
    restart: on-failure    
    depends_on:
      al_socketio:
        condition: service_started
      al_ui:
        condition: service_started

  # Start the core services
  # Alerter
  al_alerter:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.alerter.run_alerter
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Expiry
  al_expiry:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.expiry.run_expiry
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Hearbeat manager
  al_heartbeat:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.metrics.run_heartbeat_manager
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Plumber 
  al_plumber:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.plumber.run_plumber
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Statistics aggregator
  al_statistics:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.metrics.run_statistics_aggregator
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Workflow
  al_workflow:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.workflow.run_workflow
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Scaler
  al_scaler:
    build:
      context: privilege-core-image
      args:
        version: ${AL_VERSION}
        registry: ${REGISTRY}
      cache_from:
        - cccs/assemblyline-core:${AL_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_al_scaler:${AL_VERSION}
    privileged: true
    env_file: [".env"]
    environment:
      DOCKER_CONFIGURATION_PATH: /mount/service_config
      DOCKER_CONFIGURATION_VOLUME: ${COMPOSE_PROJECT_NAME}_service_config
      AL_CORE_NETWORK: ${COMPOSE_PROJECT_NAME}_core
      UI_SERVER: http://al_internal_ui:5000
      SERVICE_API_HOST: http://al_service_server:5003
    volumes:
      - config_data:/mount/config:rw
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock  # NOTE, this container has access to docker socket (this is like root)
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.scaler.run_scaler
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Updater
  al_updater:
    build:
      context: privilege-core-image
      args:
        version: ${AL_VERSION}
        registry: ${REGISTRY}
      cache_from:
        - cccs/assemblyline-core:${AL_VERSION}
    image: ${COMPOSE_PROJECT_NAME}_al_updater:${AL_VERSION}
    privileged: true
    env_file: [".env"]
    environment:
      AL_REGISTRATION_NETWORK: ${COMPOSE_PROJECT_NAME}_registration
      UI_SERVER: http://al_internal_ui:5000
      SERVICE_API_HOST: http://al_service_server:5003
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock  # NOTE, this container has access to docker socket (this is like root)
    command: python3 -m assemblyline_core.updater.run_updater
    networks: [core, external]
    restart: on-failure
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Dispatcher
  al_dispatcher:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.dispatching
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Ingester Processes
  al_ingester:
    image: ${REGISTRY}cccs/assemblyline-core:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.ingester
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Service server
  al_service_server:
    image: ${REGISTRY}cccs/assemblyline-service-server:${AL_VERSION}
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks:
      - core
      - registration
    depends_on:
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_started
    env_file: [".env"]
    environment:
      SERVICE_API_KEY: ${SERVICE_API_KEY}
    restart: on-failure
    
  # UI
  al_internal_ui:
    image: ${REGISTRY}cccs/assemblyline-ui:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core, external]
    environment:
      WORKERS: 1
      THREADS: 2
      AL_UNSECURED_UI: "true"
    restart: on-failure
    depends_on:
      elasticsearch:
        condition: service_healthy
    
  # UI
  al_ui:
    image: ${REGISTRY}cccs/assemblyline-ui:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core, external]
    restart: on-failure
    depends_on:
      elasticsearch:
        condition: service_healthy

  # SocketIO Server
  al_socketio:
    image: ${REGISTRY}cccs/assemblyline-socketio:${AL_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Assemblyline Frontend
  al_ui_frontend:
    image: ${REGISTRY}cccs/assemblyline-ui-frontend:${AL_VERSION}
    env_file: [".env"]
    networks: [core]
    restart: on-failure

networks:
  core:
    internal: true
  external:
    internal: false
  registration:
    internal: true

volumes:
  datastore:
  filestore:
  redis:
  service_config:
