version: '2.4'

services:
  # Dependancies
  minio:
    image: ${REGISTRY}minio/minio
    environment:
      MINIO_ACCESS_KEY: al_storage_key
      MINIO_SECRET_KEY: "${FILESTORE_PASSWORD}"
    command: server /data
    networks: [core]
    volumes:
    - filestore:/data
    restart: on-failure

  kibana:
    image: ${REGISTRY}docker.elastic.co/kibana/kibana:7.8.0
    environment:
      SERVER_NAME: localhost
      ELASTIC_HOSTS: http://elasticsearch:9200
      ELASTIC_USERNAME: elastic
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    depends_on:
      elasticsearch:
        condition: service_healthy
    volumes:
      - ${COMPOSE_ROOT}/config/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail -u elastic:$$ELASTIC_PASSWORD http://localhost:5601/kibana"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks: [core]
    restart: on-failure

  apm_server:
    image: ${REGISTRY}docker.elastic.co/apm/apm-server:7.8.0
    volumes:
      - ${COMPOSE_ROOT}/config/apm-server.yml:/usr/share/apm-server/apm-server.yml:ro
    environment:
      ELASTIC_HOSTS: http://elasticsearch:9200
      ELASTIC_USERNAME: elastic
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    command: /bin/bash -c "/usr/local/bin/docker-entrypoint -e -strict.perms=false"
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy
    networks:
      core: {}
    restart: on-failure

  elasticsearch:
    image: ${REGISTRY}docker.elastic.co/elasticsearch/elasticsearch:7.8.0
    environment:
      - xpack.security.enabled=true
      - discovery.type=single-node
      - logger.level=WARN
      - "ELASTIC_PASSWORD=${ELASTIC_PASSWORD}"
      - "ES_JAVA_OPTS=-Xms512m -Xmx${ELASTIC_MAX_MEM}m"
    healthcheck:
        test: ["CMD-SHELL", "curl --silent --fail -u elastic:${ELASTIC_PASSWORD} localhost:9200/_cluster/health || exit 1"]
        interval: 30s
        timeout: 30s
        retries: 3
    networks: [core]
    volumes:
      - datastore:/usr/share/elasticsearch/data
    restart: on-failure

  filebeat:
    image: ${REGISTRY}docker.elastic.co/beats/filebeat:7.3.0
    user: root
    environment:
      ELASTIC_HOSTS: http://elasticsearch:9200
      ELASTIC_USERNAME: elastic
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${COMPOSE_ROOT}/config/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - ${COMPOSE_ROOT}/config/filebeat_policy.json:/usr/share/filebeat/filebeat_policy.json:ro
    command: filebeat -e -strict.perms=false
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy
    networks: [core]
    restart: on-failure

  metricbeat:
    image: ${REGISTRY}docker.elastic.co/beats/metricbeat:7.8.0
    user: root
    environment:
      ELASTIC_HOSTS: http://elasticsearch:9200
      ELASTIC_USERNAME: elastic
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${COMPOSE_ROOT}/config/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro
      - ${COMPOSE_ROOT}/config/metricbeat_policy.json:/usr/share/metricbeat/metricbeat_policy.json:ro
    command: metricbeat -e --strict.perms=false
    depends_on:
      elasticsearch:
        condition: service_healthy
      kibana:
        condition: service_healthy
    networks: [core]
    restart: on-failure

  redis:
    image: ${REGISTRY}redis
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: on-failure
    networks: [core]

  redis-persist:
    image: ${REGISTRY}redis
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - redis:/data
    restart: on-failure
    networks: [core]

  nginx:
    image: ${REGISTRY}cccs/nginx-ssl-frontend
    ports:
      - '443:443'
    environment:
      - DOLLAR=$$
      - UI_HOST=al_ui
      - SOCKET_HOST=al_socketio
      - FRONTEND_HOST=al_ui_frontend
      - FQDN=${DOMAIN}
      - MAX_BODY_SIZE=100M
    volumes:
      - ${COMPOSE_ROOT}/config/nginx.crt:/etc/ssl/nginx.crt:ro
      - ${COMPOSE_ROOT}/config/nginx.key:/etc/ssl/nginx.key:ro
    networks:
      - core
      - external
    restart: on-failure
    depends_on:
      kibana:
        condition: service_started
      al_socketio:
        condition: service_started
      al_ui:
        condition: service_started
      al_uinext:
        condition: service_started



  # Start the core services
  # Alerter
  al_alerter:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.alerter.run_alerter
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Expiry
  al_expiry:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.expiry.run_expiry
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Metrics aggregator
  al_metrics:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.metrics.run_metrics_aggregator
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Hearbeat manager
  al_heartbeat:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.metrics.run_heartbeat_manager
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Workflow
  al_workflow:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.workflow.run_workflow
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Watcher
  al_watcher:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.watcher.run_watcher
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  al_scaler:
    build:
      context: privilege-core-image
      args:
        version: ${CORE_VERSION}
        registry: ${REGISTRY}
      cache_from:
        - cccs/assemblyline-core:${CORE_VERSION}
    privileged: true
    env_file: [".env"]
    environment:
      FILE_UPDATE_VOLUME: ${UPDATE_DATA_PATH}
      FILE_UPDATE_DIRECTORY: /mount/update_root/
    volumes:
      - ${UPDATE_DATA_PATH}:/mount/update_root/
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock  # NOTE, this container has access to docker socket (this is like root)
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.scaler.run_scaler
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  al_updater:
    build:
      context: privilege-core-image
      args:
        version: ${CORE_VERSION}
        registry: ${REGISTRY}
      cache_from:
        - cccs/assemblyline-core:${CORE_VERSION}
    privileged: true
    env_file: [".env"]
    environment:
      FILE_UPDATE_VOLUME: ${UPDATE_DATA_PATH}
      FILE_UPDATE_DIRECTORY: /mount/update_root/
    volumes:
      - ${UPDATE_DATA_PATH}:/mount/update_root/
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock  # NOTE, this container has access to docker socket (this is like root)
    command: python3 -m assemblyline_core.updater.run_updater
    networks: [core, external]
    restart: on-failure
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  al_dispatcher:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.dispatching
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Ingester Processes
  al_ingester_ingest:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.ingester.run_ingest
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  al_ingester_internal:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.ingester.run_internal
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  al_ingester_submit:
    image: ${REGISTRY}cccs/assemblyline-core:${CORE_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    command: python -m assemblyline_core.ingester.run_submit
    healthcheck:
      test: ["CMD", "bash", "-c", "if [[ ! `find /tmp/heartbeat -newermt '-30 seconds'` ]]; then false; fi"]
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Service server
  al_service_server:
    image: ${REGISTRY}cccs/assemblyline-service-server:${SERVICE_SERVER_VERSION}
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks:
      - core
      - registration
    env_file: [".env"]
    environment:
      SERVICE_API_AUTH_KEY: ${SERVICE_API_KEY}
    restart: on-failure
    depends_on:
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_started

  # UI
  al_ui:
    image: ${REGISTRY}cccs/assemblyline-ui:${UI_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core, external]
    restart: on-failure
    depends_on:
      elasticsearch:
        condition: service_healthy

  # SocketIO Server
  al_socketio:
    image: ${REGISTRY}cccs/assemblyline-socketio:${UI_VERSION}
    env_file: [".env"]
    volumes:
      - ${COMPOSE_ROOT}/config/config.yml:/etc/assemblyline/config.yml:ro
    networks: [core]
    restart: on-failure
    depends_on:
      elasticsearch:
        condition: service_healthy

  # Assemblyline Frontend
  al_ui_frontend:
    image: ${REGISTRY}cccs/assemblyline-ui-frontend:${UI_FRONTEND_VERSION}
    env_file: [".env"]
    networks: [core]
    restart: on-failure

networks:
  core:
    name: al_core
    internal: true
  external:
    internal: false
  registration:
    name: al_registration
    internal: true

volumes:
  filestore:
  datastore:
  redis:
