services:
  register_service:
    env_file: ["../.env"]
    environment:
      REGISTER_ONLY: "true"
    networks: [registration]
    volumes:
      - ${COMPOSE_ROOT}/../config/config.yml:/etc/assemblyline/config.yml:ro
      - ${COMPOSE_ROOT}/../config/classification.yml:/etc/assemblyline/classification.yml:ro
